.footer {
    display: flex;
    text-align: center;
    position: sticky;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    border-top: 3px solid whitesmoke;
}

.f:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.count {
    display: flex;
    justify-content: center;
}

.count > div {
    background-color: rgb(43, 235, 91);
    color: white;
    border-radius: 20px;
    width: 20px;
}

